@use "../../../styles/mixins.scss";

.section-how-to-use {
  background: #83bdd6;

  .wrapper {
    padding-block: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: #004c98;
      font-weight: 600;
      font-size: 32px;
      text-align: center;

      @include mixins.laptop {
        font-size: 26px;
      }
    }

    .how-use {
      .steps {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 55px 22px;
        margin-top: 85px;

        .step {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 80px 20px 40px 20px;
          background-color: #004c98;
          border-radius: 12px;
          width: 310px;
          position: relative;

          @include mixins.laptop {
            padding: 50px 20px 40px 20px;
            width: 295px;
          }

          &-number {
            font-size: 42px;
            font-weight: 700;
            background-color: #fff;
            color: #004c98;
            border-radius: 50%;
            width: 87px;
            height: 87px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 150px;

            @include mixins.laptop {
              bottom: 130px;
              font-size: 26px;
              width: 65px;
              height: 65px;
            }
          }

          p {
            color: #fff;
            font-weight: 600;
            font-size: 17px;
            text-align: center;
            line-height: 24px;
            height: 72px;
          }
        }
      }
    }

    .dilution {
      margin-top: 90px;
      border: solid 2px #004c98;
      border-radius: 8px;
      padding: 35px 40px;
      width: 100%;

      @include mixins.laptop-G {
        width: min-content;
      }

      @include mixins.tablet {
        padding: 35px 22px;
      }

      @include mixins.mobile-G {
        padding: 12px;
      }

      &-steps {
        h2 {
          background: #83bdd6;
          margin: 0 auto;
          width: 250px;
          text-align: center;
          position: relative;
          bottom: 55px;

          @include mixins.laptop-G {
            bottom: 33px;
          }
        }

        .container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 6.5%;

          @include mixins.laptop-G {
            gap: 50px;
          }

          .dilution-step {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include mixins.laptop {
              gap: 10px;
            }

            p {
              color: #004c98;
              font-weight: 600;
              font-size: 24px;
              text-transform: uppercase;
              text-align: center;

              @include mixins.laptop {
                font-size: 18px;
                text-align: center;
              }

              &:nth-child(2) {
                padding-inline: 10%;
              }
            }

            img {
              width: 450px;

              @include mixins.laptop-G {
                width: 280px;
              }

              @include mixins.mobile-G {
                width: 200px;
              }
            }

            .numbers {
              display: flex;
              justify-content: center;
              gap: 30%;
              width: 100%;
              margin-top: 15px;

              @include mixins.laptop {
                margin-top: 0;
                gap: 20%;
              }

              .number {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                font-weight: 700;
                background-color: #fff;
                color: #004c98;
                border-radius: 50%;
                width: 70px;
                height: 70px;

                @include mixins.laptop {
                  font-size: 22px;
                }
              }
            }

            .liters {
              margin: 15px auto 0 auto;
              padding: 12px 42px;
              border-radius: 26px;
              border: solid 1px #fff;
              color: #fff;
              font-weight: 600;
              font-size: 22px;
              text-align: center;
              width: fit-content;

              @include mixins.laptop {
                font-size: 20px;
              }
            }
          }
        }
      }

      .proportions-group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto 20px auto;
        padding: 12px 95px;
        width: fit-content;
        border: solid 2px #004c98;
        color: #004c98;
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        border-radius: 34px;

        @include mixins.laptop {
          font-size: 18px;
          width: 100%;
          padding: 12px 35px;
          flex-wrap: wrap;
          gap: 20px;
        }

        @include mixins.mobile-G {
          padding: 10px;
        }

        .title {
          margin-right: 50px;

          @include mixins.laptop {
            margin: 12px 0 0 0;
          }

          @include mixins.tablet {
            font-size: 16px;
            margin-right: 20px;
          }
        }

        .proportions {
          display: flex;
          gap: 60px;

          @include mixins.laptop {
            gap: 30px;
            margin-bottom: 12px;
          }

          .proportion {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            @include mixins.tablet {
              font-size: 16px;
            }

            .circle {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #e23968;

              @include mixins.laptop {
                width: 30px;
                height: 30px;
              }

              @include mixins.tablet {
                width: 22px;
                height: 22px;
              }
            }

            &:nth-child(2) .circle {
              background-color: #00e2ea;
            }
          }
        }
      }
    }

    .after-clean {
      margin: 70px auto 0 auto;

      p {
        margin-top: 55px;
        color: #fff;
        width: 840px;
        text-align: center;

        @include mixins.laptop {
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}
