@use "../../../styles/mixins.scss";

.section-description {
  background: #83bdd6;

  .wrapper {
    h2 {
      color: #004c98;
      font-weight: 600;
      font-size: 32px;
      text-align: center;

      @include mixins.tablet {
        font-size: 26px;
      }
    }

    .description {
      background-color: #b6dbeb;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 100px;
      padding: 70px 0;

      @include mixins.tablet {
        padding: 70px 30px;
        gap: 50px;
      }

      ul {
        color: #004c98;
        list-style-type: disc;
        padding-bottom: 30px;

        @include mixins.tablet {
          padding-bottom: 0;
          font-size: 14px;
        }
      }
    }

    .precautions-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18%;

      @include mixins.laptop-G {
        flex-direction: column-reverse;
      }

      .aside-image {
        position: relative;
        width: 35%;
        left: 120px;
        z-index: 1;

        @include mixins.laptop-G {
          left: 0;
        }

        .circle {
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 80%;
          top: 55%;
          left: 46%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          border: solid 1px #004c98;
        }

        img {
          display: block;
          object-fit: cover;
          width: 100%;
        }
      }

      .precautions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 36%;
        margin: 40px 0;

        @include mixins.laptop-G {
          margin: 80px 0 20px 0;
          width: 70%;
          text-align: center;
          align-items: center;
        }

        @include mixins.tablet {
          width: 100%;
        }

        h2 {
          margin-bottom: 45px;
        }

        p {
          color: #efefef;

          @include mixins.tablet {
            font-size: 14px;
          }
        }

        &-images {
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          margin: 25px 0;
          width: 100%;

          @include mixins.laptop-G {
            justify-content: center;
          }

          img {
            max-height: 115px;

            @include mixins.laptop-G {
              height: auto;
              width: 100px;
            }

            @include mixins.tablet {
              width: 60px;
            }
          }
        }
      }
    }
  }
}
