@use "../../../styles/mixins.scss";

.footer-top {
  background: #004c98;
  color: #fff;

  .wrapper {
    display: flex;
    flex-direction: column;
    padding-block: 35px;
    gap: 20px;

    li b,
    .title {
      display: block;
      color: #80bad4;
      margin-bottom: 4px;
      font-size: 20px;
      font-weight: 600;
    }

    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 40px;

      @include mixins.laptop-G {
        gap: 70px;
      }

      @include mixins.laptop {
        flex-direction: column;
        align-items: center;
      }

      .col-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        img:nth-child(1) {
          width: 260px;
          margin-bottom: 40px;

          @include mixins.mobile-G {
            width: 220px;
          }
        }

        img:last-child {
          width: 205px;
        }

        .slogan {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 50px;

          span {
            padding-bottom: 3px;
            border-bottom: 2px solid #ffffff;
          }
        }

        .social {
          margin-bottom: 30px;

          p {
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 15px;
          }

          .images {
            display: flex;
            gap: 10px;
            padding: 12px 16px;
            border: solid 1px #fff;
            border-radius: 8px;

            @include mixins.mobile-G {
              padding: 8px 12px;
            }
          }
        }
      }

      .lists {
        display: flex;

        @include mixins.laptop-G {
          text-align: center;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          gap: 40px;
        }

        .list {
          display: flex;
          flex-direction: column;
          gap: 17px;
          width: 298px;

          @include mixins.mobile-G {
            width: fit-content;
          }

          &-1 {
            li:last-child a {
              text-decoration: underline;
              padding-bottom: 5px;
            }
          }

          &-3 {
            width: 350px;

            @include mixins.laptop-G {
              width: fit-content;
              text-align: center;
            }

            li a {
              display: flex;
              align-items: center;
              gap: 20px;

              @include mixins.laptop-G {
                justify-content: center;
              }

              @include mixins.mobile-G {
                gap: 15px;
                flex-wrap: wrap;
              }
            }
          }
        }

        li a {
          color: #ececec;

          @include mixins.mobile-G {
            font-size: 14px;
          }
        }
      }

      .col-3 {
        @include mixins.laptop-G {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
        }

        .title {
          margin-bottom: 15px;
        }

        .payments {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          width: 210px;
          margin-bottom: 20px;

          @include mixins.laptop {
            justify-content: center;
          }
        }

        .deliveries {
          display: flex;
          gap: 9px;

          img {
            width: 75px;
            height: 40px;

            @include mixins.mobile-G {
              width: 60px;
              height: 32px;
            }
          }
        }
      }
    }

    .divisor {
      margin-top: 10px;
      height: 1px;
      width: 100%;
      background-color: #c7c7c7;
    }

    .security-seals {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 340px;

        @include mixins.mobile-G {
          width: 250px;
        }
      }
    }
  }
}
